div.nested-fields style="background-color:lightblue"
  div 
  	= f.input :ititle, label: "Madde Başlığı"     
    = f.file_field :image, style: "background-color:lightblue", class:"form-control"
    = f.hidden_field :image_cache, :value => f.object.image_cache
  div.thumb
   - if f.object.image_url.present?
     = image_tag f.object.image_url
  div.description   
   	= f.input :idescription, label:"Soru detayı"
  
  div= link_to_remove_association "Resmi kaldır", f, class:"btn btn-danger btn-sm"
  hr