
  
  - @questions.each do |question|
        # class="card mb-4"
          # class="card-header"
            .row
              .col-md-auto
                = image_tag(question.user.profile.avatars.last.image_url(:icon)) 
              .col-md
                 = link_to "#{question.user.username}", profile_user_path(question.user), class:"badge badge-info badge-sm"
                
                  
          # class="card-body"
            .row
              - if question.pictures.present?
                .col-md-6
                  h3 = link_to question.title, question_path(question)
                  = sanitize question.body.truncate(200, separator: ' ')              
                .col-md-6  
                  = image_tag question.pictures.order('created_at ASC').first.image_url(:thumb) if question.pictures.present?
                  br
                  span class="badge badge-info" = "#{question.category.name}"
              - else
                .col-md
                  h3 = link_to question.title, question_path(question)
                  br                
                  = sanitize question.body.truncate(200, separator: ' ')    

          # class="card-footer" 
            -if user_signed_in?
              -if current_user.admin? or current_user == question.user           
                = link_to 'Düzenle', edit_question_path(question), class:"btn btn-warning btn-sm"
                = link_to 'Sil', question, data: { confirm: 'Are you sure?' }, method: :delete, class:"btn btn-danger btn-sm"
  .pagination-center
    = will_paginate @questions, renderer: WillPaginate::ActionView::BootstrapLinkRenderer               