h1.mt-4
  = @question.title  
p.lead
  = link_to image_tag(@question.user.profile.avatars.last.image_url(:icon)), @question.user
  = " | "
  = link_to @question.user.username, @question.user 
  |  tarafından paylaşıldı.
hr
p
  = localize(@question.created_at, format: :long)
  = " | #{@question.impressionist_count} kez görüntülendi." 
hr
= sanitize @question.body
hr
- if @question.pictures.present?
  - @question.pictures.each do |picture|
    img.img-fluid.rounded[src="#{picture.image_url(:medium)}"]
    div
      = picture.idescription      


- if user_signed_in? 
  - if current_user.admin? or current_user == @question.user
    p
      = link_to 'Edit', edit_question_path(@question)
      = " | "
      = link_to 'Destroy', @question, data: { confirm: 'Bu paylaşım silinecek Emin misiniz?' }, method: :delete
  = link_to upvote_question_path, class: "btn btn-outline-primary btn-sm", method: :put, remote: true do
    i.fa.fa-thumbs-up
    span.badge.badge-light.upvotes-count
      =  @question.get_upvotes.size
  = button_to downvote_question_path, class: "btn btn-outline-danger btn-sm", method: :put, remote: true do
    i.fa.fa-thumbs-down
    span.badge.badge-light.downvotes-count
      =  @question.get_downvotes.size
  - if current_user.admin?
    - if @question.approved?     
      = button_to approve_question_path, class: "btn btn-outline-danger btn-sm", method: :put, remote: true do
        i.fa.fa-ban
          span.badge
            |Onayı kaldır   
    - else  
     = button_to approve_question_path, class: "btn btn-outline-success btn-sm", method: :put, remote: true do
      i.fa.fa-minus-square
        span.badge
          |Onayla   
    - if @question.featured?     
        = button_to feature_question_path, class: "btn btn-outline-danger btn-sm", method: :put, remote: true do
          i.fa.fa-ban
            span.badge
              |Vitrinden kaldır   
    - else  
     = button_to feature_question_path, class: "btn btn-outline-success btn-sm", method: :put, remote: true do
      i.fa.fa-minus-square
        span.badge
          |Vitrine koy 

= render "comments/widget", commentable: @question  


 