= simple_form_for @list do |f|
  - if @list.errors.any?
    #error_explanation
      h2 = "#{pluralize(@list.errors.count, "error")} Hata tespit edildiği için kaydedilemiyor:"
      ul
        - @list.errors.full_messages.each do |message|
          li = message       

  .field    
    = f.input :title, label:"Liste başlığı:"
  .field       
    = f.input :description, as: :trix_editor, label:"Liste açıklaması"
  
  .field   
    = f.collection_select :category_id, Category.all, :id, :name, {prompt: "Kategori seçiniz"}
  
 
  table.list-picture-form
    tbody class="liste"     
      = f.fields_for :listmages do |listmage|        
        = render 'listmage_fields', f: listmage        
      
  .links= link_to_add_association 'Resim ekle', f, :listmages, class:"btn btn-info"
  
  hr
  = f.submit class: "btn btn-primary btn-lg"


coffee:
  $(document).on('page:change', ()->

  onAddFile = (event) ->
    file = event.target.files[0]
    url = URL.createObjectURL(file)

    thumbContainer = $(this).parent().siblings('div.thumb')

    if thumbContainer.find('img').length == 0
      thumbContainer.append('<img src="' + url + '" width="600" height="370" />')
    else
      thumbContainer.find('img').attr('src', url)

  # for redisplayed file inputs and file inputs in edit page
  $('input[type=file]').each(()->
      $(this).change(onAddFile)
  )

  # register event handler when new cocoon partial is inserted from link_to_add_association link
  $('body').on('cocoon:after-insert', (e, addedPartial) ->
    $('input[type=file]', addedPartial).change(onAddFile)
  )

  # tell cocoon where to insert partial
  $('a.add_fields').data('association-insertion-method', 'append')
  $('a.add_fields').data("association-insertion-node", 'table.list-picture-form tbody')
  )