  h1.mt-4
    = @list.title  
  p.lead
    = link_to image_tag(@list.user.profile.avatars.last.image_url(:icon)), @list.user
    = " | "
    = link_to @list.user.username, @list.user 
    |  tarafından paylaşıldı.
  hr
  p
    = localize(@list.created_at, format: :long)
  hr
  - count = 1
  - @listmages.each do |listmage|    
    h3 = count.to_s + "- " + listmage.title
    .thumb= image_tag listmage.image_url(:medium)
    = sanitize listmage.description 
    - count = count + 1   
    = sanitize @list.description
  - if user_signed_in? && (current_user.admin? or current_user == @list.user)
    p
      = link_to 'Edit', edit_list_path(@list)
      = " | "
      = link_to 'Destroy', @list, data: { confirm: 'Bu paylaşım silinecek Emin misiniz?' }, method: :delete