div.nested-fields style="background-color:lightpink" 
  div
    = f.input :title, label: "Madde Başlığı"
    = f.file_field :image, class:"form-control"
    = f.hidden_field :image_cache, :value => f.object.image_cache
  div.thumb
   - if f.object.image_url.present?
     = image_tag f.object.image_url
  br   
  div.description   
   	= f.input :description, label:"Resim açıklaması(Boş bırakabilirsiniz.)"
  
  div= link_to_remove_association "Resmi kaldır", f, class:"btn btn-danger btn-sm"
  hr