- @lists.each do |list|
    # class="card-deck mb-3 text-left"
      # class="card mb-4"
        # class="card-header"
          .row
            .col-md-auto
              = link_to list.title, list_path(list)
            .col-md
              span class="badge badge-info" = "#{list.user.username}"
                
        # class="card-body"
          = sanitize list.description
          = image_tag list.listmages.order('created_at ASC').first.image_url(:thumb) if list.listmages.present?
             
          hr 

          span class="badge badge-info" = "Tag(category for now):   #{list.category.name}"
        # class="card-footer" 
          -if user_signed_in?
            -if current_user.admin? or current_user == list.user           
              = link_to 'Düzenle', edit_list_path(list), class:"btn btn-warning btn-sm"
              = link_to 'Sil', list, data: { confirm: 'Are you sure?' }, method: :delete, class:"btn btn-danger btn-sm"