h1.mt-4
  = @list.title 
  = sanitize @list.description 
p.lead
  = link_to image_tag(@list.user.profile.avatars.last.image_url(:icon)), @list.user
  = " | "
  = link_to @list.user.username, @list.user 
  |  tarafından paylaşıldı.
hr
p
  = localize(@list.created_at, format: :long)
  = " | #{@list.impressionist_count} kez görüntülendi." 
hr
- count = 1
- @listmages.each do |listmage|    
  h3 = count.to_s + "- " + listmage.title
  .thumb= image_tag listmage.image_url(:medium)
  = sanitize listmage.description 
  - count = count + 1   
  
- if user_signed_in? 
  - if current_user.admin? or current_user == @list.user
    p
      = link_to 'Edit', edit_list_path(@list)
      = " | "
      = link_to 'Destroy', @list, data: { confirm: 'Bu paylaşım silinecek Emin misiniz?' }, method: :delete
  = link_to upvote_list_path, class: "btn btn-outline-primary btn-sm", method: :put, remote: true do
    i.fa.fa-thumbs-up
    span.badge.badge-light.upvotes-count
      =  @list.get_upvotes.size
  = button_to downvote_list_path, class: "btn btn-outline-danger btn-sm", method: :put, remote: true do
    i.fa.fa-thumbs-down
    span.badge.badge-light.downvotes-count
      =  @list.get_downvotes.size 
  - if current_user.admin?
    - if @list.approved?     
      = button_to approve_list_path, class: "btn btn-outline-danger btn-sm", method: :put, remote: true do
        i.fa.fa-ban
          span.badge
            |Onayı kaldır   
    - else  
     = button_to approve_list_path, class: "btn btn-outline-success btn-sm", method: :put, remote: true do
      i.fa.fa-minus-square
        span.badge
          |Onayla   
    - if @list.featured?     
        = button_to feature_list_path, class: "btn btn-outline-danger btn-sm", method: :put, remote: true do
          i.fa.fa-ban
            span.badge
              |Vitrinden kaldır   
    - else  
     = button_to feature_list_path, class: "btn btn-outline-success btn-sm", method: :put, remote: true do
      i.fa.fa-minus-square
        span.badge
          |Vitrine koy 

= render "comments/widget", commentable: @list  
