.col-md-8
  h1.mt-4
    = @list.title  
  p.lead
    = link_to image_tag(@list.user.profile.avatars.last.image_url(:icon)), @list.user
    = " | "
    = link_to @list.user.username, @list.user 
    |  tarafından paylaşıldı.
  hr
    = link_to "#{@list.user.username}", @list.user, class:"btn btn-info btn-sm"
  p

    = sanitize @list.description
  p

    = @list.user.email
  p

    span class="badge badge-info" = "#{@list.category.name}"
  - count = 1
  - @listmages.each do |listmage|
  	
    h3 = count.to_s + "- " + listmage.title
    .thumb= image_tag listmage.image_url(:medium)
    = listmage.description 
    - count = count + 1 
    => link_to 'Edit', edit_list_path(@list)
    '|
    =< link_to 'Back', lists_path
  .row
    = render "comments/widget", commentable: @list    


