p#notice = notice

p
  strong User:
  = @profile.user.username
p
  strong Hakkimda:
  = @profile.hakkimda
p
  strong Cinsiyet:
  = @profile.cinsiyet
p
  strong Dogum tarihi:
  = @profile.dogum_tarihi
p
  strong Medeni:
  = @profile.medeni

- if user_signed_in? and (current_user.admin? or current_user == @profile.user)
  => link_to 'Edit', edit_profile_user_path(@profile)
  '|
=< link_to 'Back', root_path
