h1 Listing profiles

table
  thead
    tr
      th User
      th Hakkimda
      th Cinsiyet
      th Dogum tarihi
      th Medeni
      th
      th
      th

  tbody
    - @profiles.each do |profile|
      tr
        td = profile.user.username
        td = profile.hakkimda
        td = profile.cinsiyet
        td = profile.dogum_tarihi
        td = profile.medeni
        td = link_to 'Show', profile
        td = link_to 'Edit', edit_profile_path(profile)
        td = link_to 'Destroy', profile, data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New Profile', new_profile_path
