p#notice = notice

p
  strong User:
  = @profile.user.username
p
  strong Hakkimda:
  = @profile.hakkimda
p
  strong Cinsiyet:
  = @profile.cinsiyet
p
  strong Dogum tarihi:
  = @profile.dogum_tarihi
p
  strong Medeni:
  = @profile.medeni

=> link_to 'Edit', edit_profile_path(@profile)
'|
=< link_to 'Back', root_path
= "#{@profile.impressionist_count} kez görüntülendi." 