= simple_form_for(@blog) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs 
    = f.fields_for :blog_images do|ff| 
      = ff.file_field :image
    = f.input :title
    = f.input :body, as: :trix_editor    
    = f.association :category

  .form-actions
    = f.button :submit
