
- @blogs.each do |blog|
  .row
    h2.card-title
      = link_to blog.title, blog
  .row
    col-md-7
      - if blog.blog_images.present?
        img.img-fluid.rounded[src="#{blog.blog_images.last.image_url(:thumb)}"]
      hr
    .col-md-8
      .card-body 
        = sanitize blog.body.truncate(160, separator: ' ')
        br
        = link_to 'Devamını oku', blog, class:"btn btn-primary"
  .row.card-footer.text-muted
    = localize(blog.created_at, format: :long)
    - if user_signed_in? and (current_user.admin? or current_user == blog.user)
      p
        = link_to 'Edit', edit_blog_path(blog)
        = link_to 'Destroy', blog, data: { confirm: 'Are you sure?' }, method: :delete
    = " |  #{blog.impressionist_count} kez görüntülendi."   
  hr        
= will_paginate @blogs, renderer: WillPaginate::ActionView::BootstrapLinkRenderer