h1.mt-4
  = @blog.title  
p.lead
  = link_to image_tag(@blog.user.profile.avatars.last.image_url(:icon)), @blog.user
  = " | "
  = link_to @blog.user.username, @blog.user 
  |  tarafından paylaşıldı.
hr
p
  = localize(@blog.created_at, format: :long)
  = " | #{@blog.impressionist_count} kez görüntülendi." 
hr
- if @blog.blog_images.present?
  - @blog.blog_images.each do |image|
  	img.img-fluid.rounded[src="#{image.image_url(:medium)}"]
hr
= sanitize @blog.body
- if user_signed_in? 
  - if current_user.admin? or current_user == @blog.user
    p
      = link_to 'Edit', edit_blog_path(@blog)
      = " | "
      = link_to 'Destroy', @blog, data: { confirm: 'Bu paylaşım silinecek Emin misiniz?' }, method: :delete
  = link_to upvote_blog_path, class: "btn btn-outline-primary btn-sm", method: :put, remote: true do
    i.fa.fa-thumbs-up
    span.badge.badge-light.upvotes-count
      =  @blog.get_upvotes.size
  = button_to downvote_blog_path, class: "btn btn-outline-danger btn-sm", method: :put, remote: true do
    i.fa.fa-thumbs-down
    span.badge.badge-light.downvotes-count
      =  @blog.get_downvotes.size
  - if current_user.admin?
    - if @blog.approved?     
      = button_to approve_blog_path, class: "btn btn-outline-danger btn-sm", method: :put, remote: true do
        i.fa.fa-ban
          span.badge
            |Onayı kaldır   
    - else  
     = button_to approve_blog_path, class: "btn btn-outline-success btn-sm", method: :put, remote: true do
      i.fa.fa-check
        span.badge
          |Onayla 
    - if @blog.featured?     
        = button_to feature_blog_path, class: "btn btn-outline-danger btn-sm", method: :put, remote: true do
          i.fa.fa-ban
            span.badge
              |Vitrinden kaldır   
    - else  
     = button_to feature_blog_path, class: "btn btn-outline-success btn-sm", method: :put, remote: true do
      i.fa.fa-check
        span.badge
          |Vitrine koy          
          
= render "comments/widget", commentable: @blog      