div id="comment_#{comment.id}" class="comment"
  - if comment.parent_id.nil? and comment.selected?
    .comment-content id="secilen-yorum"
      div class="media mb-4"    
        img.d-flex.mr-3.rounded-circle[src="#{comment.user.profile.avatars.last.image_url(:icon)}"]      
        .media-body
          = link_to comment.user.username, comment.user
          a.p-1.badge.badge-info.rounded-0
            = comment.user.unvan unless nil?
          br  
          = comment.content
      
      
      .comment-info
        small
          - if user_signed_in? && (current_user.id == comment.user.id or current_user.admin?)
            | - 
            = localize(comment.created_at, format: :long)
            = link_to "Düzenle", edit_polymorphic_path([comment.commentable, comment]), class: 'btn btn-light btn-sm edit-comment-link', remote: true
            = link_to "Sil", [comment.commentable, comment], method: :delete,  class: 'btn btn-light btn-sm delete-comment-link', data:{confirm:"Emin misiniz?"}, remote: true
            = link_to "yanıtla", polymorphic_path([:reply, comment.commentable, comment]), class: 'btn btn-outline-light btn-sm reply-comment-link', remote: true
          - elsif user_signed_in?
            = link_to "yanıtla", polymorphic_path([:reply, comment.commentable, comment]), class: 'btn btn-outline-light btn-sm reply-comment-link', remote: true
          - else
            = link_to "yanıtla", new_user_session_path, class: 'btn btn-outline-light btn-sm reply-comment-link'    
        
         
        - if comment.parent_id.nil?      
          - if user_signed_in? && current_user.id == comment.commentable.user_id
            - unless comment.selected?
              - if comment.commentable.comments.where(selected: true).size < 1 && comment.user != current_user      
                = button_to polymorphic_path([:select, comment.commentable, comment]), class: "btn btn-outline-success btn-sm", method: :put, remote: true do
                  i.fa.fa-check-circle
                    | En faydalı görüş 
            - else
                i.fa.fa-check-circle
                  | Seçildi

          = button_to polymorphic_path([:upvote, comment.commentable, comment]), class: "btn btn-outline-primary btn-sm", method: :put, remote: true do
            i.fa.fa-thumbs-up
            span.badge.badge-light.comment-upvotes-count
              =  comment.get_upvotes.size
              
          = button_to polymorphic_path([:downvote, comment.commentable, comment]), class: "btn btn-outline-danger btn-sm", method: :put, remote: true do
            i.fa.fa-thumbs-down
            span.badge.badge-light.comment-downvotes-count
              =  comment.get_downvotes.size
        -else
          = button_to polymorphic_path([:upvote, comment.commentable, comment]), class: "btn btn-outline-primary btn-sm", method: :put, remote: true do
            i.fa.fa-thumbs-up
            span.badge.badge-light.comment-upvotes-count
              =  comment.get_upvotes.size
              
          = button_to polymorphic_path([:downvote, comment.commentable, comment]), class: "btn btn-outline-danger btn-sm", method: :put, remote: true do
            i.fa.fa-thumbs-down
            span.badge.badge-light.comment-downvotes-count
              =  comment.get_downvotes.size 
          
          
            
    - if comment.replies.any?
      ul
        = render comment.replies

  - else 
    .comment-content
      div class="media mb-4"    
        img.d-flex.mr-3.rounded-circle[src="#{comment.user.profile.avatars.last.image_url(:icon)}"]      
        .media-body
          = link_to comment.user.username, comment.user
          a.p-1.badge.badge-info.rounded-0
            = comment.user.unvan unless nil?
          br  
          = comment.content
      
    
      .comment-info
        small
          - if user_signed_in?
            | - 
            = localize(comment.created_at, format: :long)
            - if current_user.id == comment.commentable.user_id or current_user.admin?
              = link_to "Düzenle", edit_polymorphic_path([comment.commentable, comment]), class: 'btn btn-light btn-sm edit-comment-link', remote: true
              = link_to "Sil", [comment.commentable, comment], method: :delete,  class: 'btn btn-light btn-sm delete-comment-link', data:{confirm:"Emin misiniz?"}, remote: true
            = link_to "yanıtla", polymorphic_path([:reply, comment.commentable, comment]), class: 'btn btn-outline-light btn-sm reply-comment-link', remote: true
          - else
            = link_to "yanıtla", new_user_session_path, class: 'btn btn-outline-light btn-sm reply-comment-link'
       
        - if comment.parent_id.nil?      
          - if user_signed_in? && current_user.id == comment.commentable.user_id
            - unless comment.selected?
              - if comment.commentable.comments.where(selected: true).size < 1 && comment.user != current_user      
                = button_to polymorphic_path([:select, comment.commentable, comment]), class: "btn btn-outline-success btn-sm", method: :put, remote: true do
                  i.fa.fa-check-circle 
                    | En faydalı görüş
            - else
                i.fa.fa-check-circle
                  | Seçildi
          - if user_signed_in?        
            = button_to polymorphic_path([:upvote, comment.commentable, comment]), class: "btn btn-outline-primary btn-sm", method: :put, remote: true do
              i.fa.fa-thumbs-up
              span.badge.badge-light.comment-upvotes-count
                = comment.get_upvotes.size
                
            = button_to polymorphic_path([:downvote, comment.commentable, comment]), class: "btn btn-outline-danger btn-sm", method: :put, remote: true do
              i.fa.fa-thumbs-down
              span.badge.badge-light.comment-downvotes-count
                = comment.get_downvotes.size
          - else
            = button_to new_user_session_path, class: "btn btn-outline-primary btn-sm" do
              i.fa.fa-thumbs-up
              span.badge.badge-light.comment-upvotes-count
                = comment.get_upvotes.size
                
            = button_to new_user_session_path, class: "btn btn-outline-danger btn-sm" do
              i.fa.fa-thumbs-down
              span.badge.badge-light.comment-downvotes-count
                = comment.get_downvotes.size
                  
        -else
          - if user_signed_in?        
            = button_to polymorphic_path([:upvote, comment.commentable, comment]), class: "btn btn-outline-primary btn-sm", method: :put, remote: true do
              i.fa.fa-thumbs-up
              span.badge.badge-light.comment-upvotes-count
                = comment.get_upvotes.size
                
            = button_to polymorphic_path([:downvote, comment.commentable, comment]), class: "btn btn-outline-danger btn-sm", method: :put, remote: true do
              i.fa.fa-thumbs-down
              span.badge.badge-light.comment-downvotes-count
                = comment.get_downvotes.size
          - else
            = button_to polymorphic_path([:upvote, comment.commentable, comment]), class: "btn btn-outline-primary btn-sm" do
              i.fa.fa-thumbs-up
              span.badge.badge-light.comment-upvotes-count
                = comment.get_upvotes.size
                
            = button_to polymorphic_path([:downvote, comment.commentable, comment]), class: "btn btn-outline-danger btn-sm" do
              i.fa.fa-thumbs-down
              span.badge.badge-light.comment-downvotes-count
                = comment.get_downvotes.size
        
        
          
  - if comment.replies.any?
    ul
      = render comment.replies

  