<div class="comment-form">
  <%= simple_form_for [comment.commentable, comment], remote: true do | f | %>
    <%= f.hidden_field :parent_id %>
    <%= f.input :content, label: false, placeholder: (f.object.parent_id.nil? ? 'Fikrinizi paylaşın.' : 'Yanıt yazınız.'), wrapper_html: { class: 'mb-1' }, input_html: { rows: 5, data:{ 'comment-id': (comment.persisted? ? comment.id : 'new') }} %>
    <span id="comment_<%= comment.persisted? ? comment.id : 'new' %>_chars_counter" class="comment_chars_counter">Kalan : 255</span>
    <div class='float-right'>
      <%= f.submit value:"Gönder", class: 'btn btn-primary btn-sm float-xs-right' %>
      <%= link_to "İptal", "#", 'data-reply': comment.parent_id.present?, class: 'cancel-comment-link btn btn-primary btn-sm float-xs-right ml-1' if comment.persisted? or comment.parent %>
    </div>  
    <div class="clearfix"></div>
  <% end %>
</div>