| <div id="comments-widget-of-commentable-
= commentable.id
| " class="comments-widget"> 
h2.comments-header
  |  Görüşler <small id="comments-count-of-commentable-
  = commentable.id
  | ">
  = commentable.comments.size
ul.comments-list
  = render commentable.comments.where(parent: nil).order('selected DESC')
- if user_signed_in?  
	= render "comments/form", comment: commentable.comments.build
- else
	| Görüşlerinizi yazmak üye olmalı ya da giriş yapmalısınız |
	= link_to "Giriş yap", new_user_session_path, class: "btn btn-outline-primary" 
	= link_to "Üye ol", new_user_registration_path, class: "btn btn-outline-primary"	