<% if @comment.parent_id.nil? %>
$('#comment_<%= @comment.id %> > .comment-content .comment-info .comment-downvotes-count').html("<%= @comment.get_downvotes.size %> ");
$('#comment_<%= @comment.id %> > .comment-content .comment-info .comment-upvotes-count').html("<%= @comment.get_upvotes.size %>");
<% else %>
$('#comment_<%= @comment.id %> > .comment-content .comment-info .comment-downvotes-count').html("<%= @comment.get_downvotes.size %> ");
$('#comment_<%= @comment.id %> > .comment-content .comment-info .comment-upvotes-count').html("<%= @comment.get_upvotes.size %>");
<% end %>