= simple_form_for(@profile) do |f|
  
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    
    = f.input :hakkimda
    = f.input :cinsiyet
    = f.input :dogum_tarihi
    = f.input :medeni
    = f.simple_fields_for :avatars do |ff|
      = ff.input :image, type:"file"



  .form-actions
    = f.button :submit
  
  