.container
  .row
    .panel.panel-default.user_panel
      .panel-heading
        h3.panel-title
          | User List
      .panel-body
        .table-container
          table.table-users.table[border="0"]
            tbody
	            - @users.each do |user|
	              tr
	                td[width="10"]
	                	- if user.profile.avatars.present?
	                		= link_to image_tag(user.profile.avatars.last.image_url(:icon)), user	                  		
	                td
	                	= link_to user.username, user
	                  	br
	                  	i.fa.fa-envelope
	                td
	                  = user.level
	                td[align="center"]
	                  |  #{ user.points} Bp
	                  br
	                td[align="center"]
	                  | seviye:  #{ user.level} 
	                  br
	                  small.text-muted
	                    | 5 days ago
	            .pagination-center        
	            	= will_paginate @users, renderer: WillPaginate::ActionView::BootstrapLinkRenderer        