p#notice = notice


p
  
  strong = @profile.user.username

p
  - if @avatars.present?
    - @avatars.each do |ava|
      = image_tag(ava.image_url(:thumb))

p
  strong Hakkimda:
  = @profile.hakkimda
p
  strong Cinsiyet:
  = @profile.cinsiyet
p
  strong Dogum tarihi:
  = @profile.dogum_tarihi
p
  strong Medeni:
  = @profile.medeni

=> link_to 'Edit', edit_profile_user_path
'|
=< link_to 'Back', root_path
