nav.navbar.navbar-light.bg-dark
  a.navbar-brand[href="/"]
    | BDS
  form.form-inline
    - if user_signed_in?
      a[role="button"]
        = link_to 'Soru Sor', new_question_path, class: "btn btn-outline-info"
      a[role="button"]
        = link_to 'Resimli Liste Oluştur', new_list_path, class: "btn btn-outline-info"
      a[role="button"]
        = link_to 'Anket Oluştur', new_poll_path, class: "btn btn-outline-info"
      .dropdown
        button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle[type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"]
          = current_user.username
        .dropdown-menu[aria-labelledby="dropdownMenuButton"]
          - if current_user.admin?
            a.dropdown-item[href="/projects/completed"]
              | Completed Tasks
            a.dropdown-item[href="/admin"]
              |  Admin Panel 
          a.dropdown-item[href="/questions"]
            | Sorular
          a.dropdown-item[href="/lists"]
            | Listeler
          a.dropdown-item[href="/polls"]
            | Anketler
          a.dropdown-item[href="/users/edit"]
            | Edit Account
          a
            = link_to "Profilim", profile_user_path(current_user), class: "dropdown-item"
          a
            = link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item"
    - else
      a[role="button"]
        = link_to "Login", new_user_session_path, class: "btn btn-outline-primary"
      a[role="button"]
        = link_to "Sign up", new_user_registration_path, class: "btn btn-outline-primary"
