nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
  .container
    a.navbar-brand[href="/"]
      | Bilirdişi
    button.navbar-toggler[type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"]
      span.navbar-toggler-icon
    #navbarResponsive.collapse.navbar-collapse
      - if user_signed_in?
        a.badge.badge-info
          |Puan:
          = current_user.points
        a.badge.badge-primary
          |Seviye:
          = current_user.level 
        a[role="button"]
          = link_to 'Makale yaz', new_blog_path, class: "btn btn-outline-danger btn-sm"   
        a[role="button"]
          = link_to 'Soru Sor', new_question_path, class: "btn btn-outline-primary btn-sm"
        a[role="button"]
          = link_to 'Resimli Liste Oluştur', new_list_path, class: "btn btn-outline-success btn-sm"
        a[role="button"]
          = link_to 'Anket Oluştur', new_poll_path, class: "btn btn-outline-info btn-sm"
        .dropdown
          button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle[type="button" data-toggle="collapse" href="#dropmenu" role="button" aria-expanded="false" aria-controls="dropmenu"]
            = current_user.username
          .collapse[aria-labelledby="dropdownMenuButton", id="dropmenu"] 
            - if current_user.admin?
              a.dropdown-item[href="/onay/bekleyenler/"]
                | Onay bekleyen gönderiler
              a.dropdown-item[href="/admin"]
                |  Admin Panel 
            a.dropdown-item[href="/questions"]
              | Sorular
            a.dropdown-item[href="/lists"]
              | Listeler
            a.dropdown-item[href="/polls"]
              | Anketler
            a.dropdown-item[href="/users/edit"]
              | Edit Account
            a
              = link_to "Profilim", profile_user_path(current_user), class: "dropdown-item"
            a
              = link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item"
      - else
          a[role="button"]
            = link_to "Login", new_user_session_path, class: "btn btn-outline-primary"
          a[role="button"]
            = link_to "Sign up", new_user_registration_path, class: "btn btn-outline-primary"
      ul.navbar-nav.ml-auto
        li.nav-item
          a.nav-link[href="/questions"]
            | Sorular 
            span.sr-only
              
        li.nav-item
          a.nav-link[href="/blogs"]
            | Makaleler
        li.nav-item
          a.nav-link[href="/lists"]
            | Listeler
        li.nav-item
          a.nav-link[href="/polls"]
            | Anketler