.card.my-4
  h5.card-header
    | Search
  .card-body
    .input-group
      input.form-control[type="text" placeholder="Search for..."]
      span.input-group-btn
        button.btn.btn-secondary[type="button"]
          | Go!
.card.my-4
  h5.card-header
    | Categories
  .card-body
    .row
      .col-lg-6
        ul.list-unstyled.mb-0
          li
            a[href="#"]
              | Web Design
          li
            a[href="#"]
              | HTML
          li
            a[href="#"]
              | Freebies
      .col-lg-6
        ul.list-unstyled.mb-0
          li
            a[href="#"]
              | JavaScript
          li
            a[href="#"]
              | CSS
          li
            a[href="#"]
              | Tutorials
.card.my-4
  h5.card-header
    | Side Widget
  .card-body
    |  You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!