.row
  .include-wrapper.pb-5.col-12
    section.row
      .col-12.col-md-6.pb-0.pb-md-3.pt-2.pr-md-1
        #featured.carousel.slide.carousel[data-ride="carousel"]
          ol.carousel-indicators.top-indicator
            li.active[data-target="#featured" data-slide-to="0"]
            li[data-target="#featured" data-slide-to="1"]
            li[data-target="#featured" data-slide-to="2"]
            li[data-target="#featured" data-slide-to="3"]
          .carousel-inner
            .carousel-item.active
              .card.border-0.rounded-0.text-light.overflow.zoom
                .position-relative
                  .ratio_left-cover-1.image-wrapper
                    a[href="#{question_path(@question)}"]
                      img.img-fluid.w-100[src="#{@question.pictures.last.image_url(:medium) if @question.pictures.present?}" alt="Image description"]
                  .position-absolute.p-2.p-lg-3.b-0.w-100.bg-shadow
                    a[href="#{question_path(@question)}"]

                    h2.h3.post-title.text-white.my-1
                      | #{@question.title}
                    .news-meta
                      span.news-author
                        | by 
                        a.text-white.font-weight-bold[href="../category/author.html"]
                          | #{@question.user.username} 
                      span.news-date
                        | #{localize(@question.created_at, format: :long)}
            .carousel-item
              .card.border-0.rounded-0.text-light.overflow.zoom
                .position-relative
                  .ratio_left-cover-1.image-wrapper
                    a[href="#{blog_path(@blog)}"]
                      img.img-fluid.w-100[src="#{(@blog.blog_images.last.image_url(:medium) if @blog.blog_images.present?)}" alt="Image description"]
                  .position-absolute.p-2.p-lg-3.b-0.w-100.bg-shadow
                    a[href="#{blog_path(@blog)}"]

                    h2.h3.post-title.text-white.my-1
                      | #{@blog.title}
                    .news-meta
                      span.news-author
                        | by 
                        a.text-white.font-weight-bold[href="../category/author.html"]
                          | #{@blog.user.username} 
                      span.news-date
                        | #{localize(@blog.created_at, format: :long)}
            .carousel-item
              .card.border-0.rounded-0.text-light.overflow.zoom
                .position-relative
                  .ratio_left-cover-1.image-wrapper
                    a[href="#{@list}"]
                      img.img-fluid.w-100[src="#{(@list.listmages.last.image_url(:medium) if @list.listmages.present?)}" alt="Image description"]
                  .position-absolute.p-2.p-lg-3.b-0.w-100.bg-shadow
                    a[href="#{list_path(@list)}"]

                    h2.h3.post-title.text-white.my-1
                      | #{@list.title}
                    .news-meta
                      span.news-author
                        | by 
                        a.text-white.font-weight-bold[href="../category/author.html"]
                          | #{@list.user.username} 
                      span.news-date
                        | #{localize(@list.created_at, format: :long)}
            .carousel-item
              .card.border-0.rounded-0.text-light.overflow.zoom
                .position-relative
                  .ratio_left-cover-1.image-wrapper
                    a[href="#{poll_path(@poll)}"]
                      img.img-fluid.w-100[src="#{@poll.vote_options.first.opimages.last.image_url(:medium) if @poll.vote_options.first.opimages.present?}" alt="Image description"]
                  .position-absolute.p-2.p-lg-3.b-0.w-100.bg-shadow
                    a[href="#{poll_path(@poll)}"]

                    h2.h3.post-title.text-white.my-1
                      | #{@poll.topic}
                    .news-meta
                      span.news-author
                        | by 
                        a.text-white.font-weight-bold[href="../category/author.html"]
                          | #{@poll.user.username} 
                      span.news-date
                        | #{localize(@poll.created_at, format: :long)}
        a.carousel-control-prev[href="#featured" role="button" data-slide="prev"]
          span.carousel-control-prev-icon[aria-hidden="true"]
          span.sr-only
            | Previous
        a.carousel-control-next[href="#featured" role="button" data-slide="next"]
          span.carousel-control-next-icon[aria-hidden="true"]
          span.sr-only
            | Next
      .col-12.col-md-6.pt-2.pl-md-1.mb-3.mb-lg-4
        .row id="sol-mozaik"
          .col-6.pb-1.pt-0.pr-1
            .card.border-0.rounded-0.text-white.overflow.zoom
              .position-relative
                .ratio_right-cover-2.image-wrapper
                  a[href="#{question_path(@questions.second)}"]
                    img.sol-galeri[src="#{@questions.second.pictures.last.image_url(:medium) if @questions.second.pictures.present?}" alt="Image description"]
                .position-absolute.p-2.p-lg-3.b-0.w-100.bg-shadow
                  a.p-1.badge.badge-primary.rounded-0[href="#{question_path(@questions.second)}"]
                    | #{@questions.second.category.name}
                  a[href="#{question_path(@questions.second)}"]

                  h2.h5.text-white.my-1
                    | #{@questions.second.title}
          .col-6.pb-1.pt-0.pr-1
            .card.border-0.rounded-0.text-white.overflow.zoom
              .position-relative
                .ratio_right-cover-2.image-wrapper
                  a[href="#{blog_path(@blogs.second)}"]
                    img.sol-galeri[src="#{@blogs.second.blog_images.last.image_url(:medium) if @blogs.second.blog_images.present?}" alt="Image description"]
                .position-absolute.p-2.p-lg-3.b-0.w-100.bg-shadow
                  a.p-1.badge.badge-primary.rounded-0[href="#{blog_path(@blogs.second)}"]
                    | #{@blogs.second.category.name}
                  a[href="#{blog_path(@blogs.second)}"]

                  h2.h5.text-white.my-1
                    | #{@blogs.second.title}
          .col-6.pb-1.pt-0.pr-1
            .card.border-0.rounded-0.text-white.overflow.zoom
              .position-relative
                .ratio_right-cover-2.image-wrapper
                  a[href="#{list_path(@lists.second)}"]
                    img.sol-galeri[src="#{@lists.second.listmages.last.image_url(:medium) if @lists.second.listmages.present?}" alt="Image description"]
                .position-absolute.p-2.p-lg-3.b-0.w-100.bg-shadow
                  a.p-1.badge.badge-primary.rounded-0[href="#{list_path(@lists.second)}"]
                    | #{@lists.second.category.name}
                  a[href="#{list_path(@lists.second)}"]

                  h2.h5.text-white.my-1
                    | #{@lists.second.title}
          .col-6.pb-1.pt-0.pr-1
            .card.border-0.rounded-0.text-white.overflow.zoom
              .position-relative
                .ratio_right-cover-2.image-wrapper
                  a[href="#{blog_path(@blogs.third)}"]
                    img.sol-galeri[src="#{@blogs.third.blog_images.last.image_url(:medium) if @blogs.third.blog_images.present?}" alt="Image description"]
                .position-absolute.p-2.p-lg-3.b-0.w-100.bg-shadow
                  a.p-1.badge.badge-primary.rounded-0[href="#{blog_path(@blogs.third)}"]
                    | #{@blogs.third.category.name}
                  a[href="#{blog_path(@blogs.third)}"]

                  h2.h5.text-white.my-1
                    | #{@blogs.third.title}