.container
	= render 'featured_box'
	.row
		.col-md-3
			.col-md-12
				.card-header
					h3 Sorular
				- @questions.each do |question|
				      .card-body
				          .row
				            - if question.pictures.present?
				            	.col-md-12					              
					              = image_tag question.pictures.order('created_at ASC').first.image_url(:thumb), class:"gonderi-resmi" if question.pictures.present?				                              
					              .col-md
					              	p
					              		span.badge.badge-secondary  = question.category.name
					                h4.soruBasligi = link_to question.title, question_path(question)
					                = sanitize question.body.truncate(160, separator: ' ')
				            - else
				              .col-md
				                h4.soruBasligi = link_to question.title, question_path(question)
				                hr                
				                = sanitize question.body.truncate(160, separator: ' ')    



		.col-md-3
			.col-md-12
				.card-header
					h3 Makaleler
				- @blogs.each do |blog|
				      # class="card-body"
				          .row
				            - if blog.blog_images.present?
				            	.col-md-12					              
					              = image_tag blog.blog_images.order('created_at ASC').first.image_url(:thumb), class:"gonderi-resmi" if blog.blog_images.present?				                              
					              .col-md
					              	p
					              		span.badge.badge-secondary  = blog.category.name
					                h4.soruBasligi = link_to blog.title, blog_path(blog)
					                = sanitize blog.body.truncate(160, separator: ' ')
				            - else
				              .col-md
				                h4.soruBasligi = link_to blog.title, blog_path(blog)
				                hr                
				                = sanitize blog.body.truncate(160, separator: ' ')


		.col-md-3
			.col-md-12
				.card-header
					h3 Listeler
				- @lists.each do |list|
				      # class="card-body"
				          .row
				            - if list.listmages.present?
				            	.col-md-12					              
					              = image_tag list.listmages.order('created_at ASC').first.image_url(:thumb), class:"gonderi-resmi" if list.listmages.present?				                              
					              .col-md
					              	p
					              		span.badge.badge-secondary  = list.category.name
					                h4.soruBasligi = link_to list.title, list_path(list)
					                = sanitize list.description.truncate(160, separator: ' ')
				            - else
				              .col-md
				                h4.soruBasligi = link_to list.title, list_path(list)
				                hr                
				                = sanitize list.description.truncate(160, separator: ' ')				                


		.col-md-3
			.col-md-12
				.card-header
					h3 Anketler
				- @polls.each do |poll|
				      # class="card-body"
				          .row
				            - if poll.vote_options.first.opimages.present?
				            	.col-md-12					              
					              = image_tag poll.vote_options.first.opimages.order('created_at ASC').first.image_url(:thumb), class:"gonderi-resmi" if poll.vote_options.first.opimages.present?				                              
					              .col-md
					              	p
					              		span.badge.badge-secondary  = poll.category.name
					                h4.soruBasligi = link_to poll.topic, poll_path(poll)
					                = sanitize poll.description.truncate(160, separator: ' ')
				            - else
				              .col-md
				                h4.soruBasligi = link_to poll.topic, poll_path(poll)
				                hr                
				                = sanitize poll.description.truncate(160, separator: ' ')				                