= simple_form_for @poll do |f|
  = render 'shared/errors', object: @poll
  .form-group
    = f.input :topic
    = f.text_area :description, class: 'form-control'
  .panel.panel-default
    .panel-heading
      | Options
    .panel-body
    .field   
    = f.collection_select :category_id, Category.all, :id, :name, {prompt: "Kategori seçiniz"}
    = f.fields_for :vote_options do |options_form|
      = render 'vote_option_fields', f: options_form        
    .links
      = link_to_add_association 'Seçenek ekle', f, :vote_options, class:"btn btn-warning btn-sm"

  hr     

  = f.submit  class: 'btn btn-primary btn-lg'
