.nested-fields
  .myLabel
    = f.file_field :image
    span
      | Resim seçiniz
  

= link_to_remove_association "Resmi kaldır", f, class:"btn btn-danger btn-sm" 

javascript:
  var lastLiItem = document.querySelectorAll(".gallery");
  var btn = document.querySelectorAll(".addimage");
       $('input').change(function () {
    for (var i=0, len = this.files.length; i < len; i++) {
        (function (j, self) {
            var reader = new FileReader()
            reader.onload = function (e) {
            
                      
                $(lastLiItem[lastLiItem.length -1]).append('<div><img src="' + e.target.result + '">' + self.files[j].name + '</div>')
                $(btn).hide()


               
            }
            reader.readAsDataURL(self.files[j])
        })(i, this);
    }
  });
