= form_tag bvotes_path, method: :post, remote: true, id: 'voting_form' do
  = hidden_field_tag 'poll[id]', @poll.id
  = render partial: 'polls/vote_option', collection: @poll.vote_options, as: :option
  p
    b
      | Toplam oy: 
      = @poll.bvotes_summary
	  - if user_signed_in?    
		  - if current_user.bvoted_for?(@poll)
		    p
		      | Oy kullandınız.
		  - else
		    = submit_tag 'Oyumu Gönder', class: 'btn btn-lg btn-primary'
	  -	else
	  		p
		      Ankete katılmak için giriş yapmalısınız. 
		      = link_to "Giriş yap", new_user_session_path, class: "btn btn-outline-primary"   