.nested-fields
  .form-group
    = f.text_field :title, class: 'form-control', placeholder:"Seçenek buraya yazılacak...", required: true
    .row
	    .col-md-5  
			= f.fields_for :opimages do |opimage|
		      = render 'opimage_fields', f: opimage	
	    .col-md-5    
			.addimage
		    	= link_to_add_association 'Resim ekle', f, :opimages, class:"btn btn-secondary btn-sm"   

    	.gallery    

    

  	= link_to_remove_association "Seçeneği kaldır", f, class:"btn btn-danger btn-sm"

hr  

