.form-group
  = content_tag(:label, class:"options") do
  	- if user_signed_in?
	    - unless current_user.bvoted_for?(@poll)
	      = radio_button_tag 'vote_option[id]', option.id
	    = option.title   
    br
    .opimage
    	= image_tag option.opimages.last.image_url(:medium) if option.opimages.present?
  = visualize_bvotes_for option