.nested-fields
	#secenekresim
		.nested-fields
			.form-group id="form-"
				div.thumb   
				= f.file_field :image, class: 'form-control', value:"deneme biriki"
    
	
	hr		



= f.file_field :image, type:"file", class:"custom-file-input", id:"inputGroupFile01"
					label class="custom-file-label" for="inputGroupFile01"
						| Resim eklemek için tıklayınız




= link_to_remove_association "resmi kaldır", f, class:"btn btn-danger btn-sm"

    2.times do
    @poll.vote_options.build do |vote_option|
      vote_option.opimages.build
    end
  end