- @polls.each do |poll|
  .row
    h2.card-title
            = link_to poll.topic, poll
  .row
    - if poll.vote_options.first.opimages.present?
      .col-md-5             
        img.img-fluid.rounded[src="#{poll.vote_options.first.opimages.last.image_url(:thumb)}"]         
      .col-md-7
        .card-body 
          = sanitize poll.description.truncate(160, separator: ' ')
          hr
          = link_to 'Ankete Katıl', poll, class:"btn btn-primary"

  .row.card-footer.text-muted
    = localize(poll.created_at, format: :long)
    - if user_signed_in? and (current_user.admin? or current_user == poll.user)
      p
        = link_to 'Edit', edit_poll_path(poll)
        = link_to 'Destroy', poll, data: { confirm: 'Are you sure?' }, method: :delete
  = "#{poll.impressionist_count} kez görüntülendi."       