- content_for(:page_header) {"Share your opinion"}
h2
  = @poll.topic
.col-md
  = link_to "#{@poll.user.username}", @poll.user, class:"badge badge-info badge-sm"
= render 'voting_form'

- if user_signed_in? 
  - if current_user.admin? or current_user == @poll.user
    p
      = link_to 'Edit', edit_poll_path(@poll)
      = " | "
      = link_to 'Destroy', @poll, data: { confirm: 'Bu paylaşım silinecek Emin misiniz?' }, method: :delete
  = link_to upvote_poll_path, class: "btn btn-outline-primary btn-sm", method: :put, remote: true do
    i.fa.fa-thumbs-up
    span.badge.badge-light.upvotes-count
      =  @poll.get_upvotes.size
  = button_to downvote_poll_path, class: "btn btn-outline-danger btn-sm", method: :put, remote: true do
    i.fa.fa-thumbs-down
    span.badge.badge-light.downvotes-count
      =  @poll.get_downvotes.size 
  - if current_user.admin?
    - if @poll.approved?     
      = button_to approve_poll_path, class: "btn btn-outline-danger btn-sm", method: :put, remote: true do
        i.fa.fa-ban
          span.badge
            |Onayı kaldır   
    - else  
     = button_to approve_poll_path, class: "btn btn-outline-success btn-sm", method: :put, remote: true do
      i.fa.fa-minus-square
        span.badge
          |Onayla   
    - if @poll.featured?     
        = button_to feature_poll_path, class: "btn btn-outline-danger btn-sm", method: :put, remote: true do
          i.fa.fa-ban
            span.badge
              |Vitrinden kaldır   
    - else  
     = button_to feature_poll_path, class: "btn btn-outline-success btn-sm", method: :put, remote: true do
      i.fa.fa-minus-square
        span.badge
          |Vitrine koy
= "#{@poll.impressionist_count} kez görüntülendi."       
= render "comments/widget", commentable: @poll




