= simple_form_for(@photo) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :image, as: :file, id: :photo_image

  .form-actions
    = f.button :submit
