
$enable-flex: true;

/* 
*= require font-awesome
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';
@import 'trix';
@import 'jquery-ui';
@import 'comments';
@import 'questions';
@import 'lists';
@import 'polls';
@import 'home';
@import 'users';
@import 'blogs';
@import "font-awesome";


body {
  padding-top: 50px;
  /*background-color: #E0E0E0;*/
  }


a.dropdown-item {
	
	color: white;
}


.card-body{
	

    padding-top: 0.0rem;
    padding-right: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 1.25rem;
}



.col-md-12{
	
padding-right: 0.1rem;
padding-left: 0.1rem;

}


.col-md-3{
	
padding-right: 0.1rem;
padding-left: 0.1rem;

}

.container{
	box-sizing: border-box;
}


.trix-content{
  
background-color: white;

}


a:hover {
  color: #AB006C;
  text-decoration: none;
}

a {
  color: #87105C;
  text-decoration: none;
  background-color: transparent;
  
}