// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.row{
	

	margin-top: 15px;
}



.soruBasligi{
	
font-size: 1.5rem;

}


.col-md-4 {

padding-right: 1px;
padding-left: 1px;

.col-md-12{
	
	padding-right: 1px;
	padding-left: 1px;
}

}



.gonderi-resmi {
	margin-bottom: 0.3rem;
	margin-bottom: 0.3rem;
  	max-height:200px;
  	object-fit:cover;
  	object-position:center;
  	width:100%;
}





.card-body{
	background-color: white;
}




.b-0 {
    bottom: 0;
}
.bg-shadow {
    background: rgba(76, 76, 76, 0);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(179, 171, 171, 0)), color-stop(49%, rgba(48, 48, 48, 0.37)), color-stop(100%, rgba(19, 19, 19, 0.8)));
    background: linear-gradient(to bottom, rgba(179, 171, 171, 0) 0%, rgba(48, 48, 48, 0.71) 49%, rgba(19, 19, 19, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );
}
.top-indicator {
    right: 0;
    top: 1rem;
    bottom: inherit;
    left: inherit;
    margin-right: 1rem;
}
.overflow {
    position: relative;
    overflow: hidden;
}
.zoom img {
    transition: all 0.2s linear;
}
.zoom:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


  
.sol-galeri {
  width: 100%;
  height: 250px;
  object-fit: cover;
}


.img-fluid{
  
  height: 505px;
  object-fit: cover;

}


.carousel-item{
  
padding-top: 10px;
}


#sol-mozaik{
  
  margin-top: 10px;
}
