.thumb{
  img{ 
   width: 100%;
  /* whatever width you want */
  display: inline-block;
  position: relative;
  }
}

.question-picture-form{

    
 width: 100%;  
 display: inline-block;
 position: relative;
 
 .soru {
width: 100%;  
 display: inherit;
 position: relative;

 }
    
}




