doctype html
html[lang="en"]
  head
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    meta[charset="utf-8"]
    meta[name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"]
    meta[name="description" content=""]
    meta[name="author" content=""]
    title
      | BDS - Bilinçli kadınların bilgi paylaşım alanı
    - if Rails.env.production?
      javascript:
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-92312806-1', 'auto');
       
    
  body    
    = render 'shared/header'  
    - if flash[:alert]
      p.alert.alert-danger
        = flash[:alert]
    - if flash[:notice]
      p.alert.alert-success
        = flash[:notice]
    .container
      .row
        .col-md-12
          = yield
        .col-md-4  
           
    footer.py-5.bg-dark
      .container
        = render 'shared/footer'


